@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {
    font-family: "Varela Round";
}


@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  user-select: none;
  box-sizing: border-box;
}
html {
  height: 100%
}
body{
  background: white;
}

@media screen and (max-width:1463px) {
  .banner {
    display: none;
  }

}

/*
NAV ------------------------------------
*/
.push{
  padding:50px;
}
.up {
    margin-top: -350px;
}
nav{
  width: 100%;
  position: fixed;
  top: 0;
  background: white;
  z-index: 2;
  color: #3C3762;
}
nav:after{
  content: '';
  clear: both;
  display: table;
}
nav .logo{
  float: left;
  line-height: 80px;
  padding-left: 60px;
}

nav ul{
  float: right;
  margin-right: 40px;
  list-style: none;
  position: relative;
}
nav img {
  width: 150px;
  padding-top: 20px;
}
nav ul li{
  display: inline-block;
  background: white;
  margin: 0 5px;
  font-family: "Varela Round";

}
nav ul li a{
  color: #3C3762;
  line-height: 100px;
  text-decoration: none;
  font-size: 1rem;
  padding: 8px 15px;
}
nav ul li a:hover{
  color: gray;
  border-radius: 5px;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;
  top: 90px;
  border-top: 3px solid #3C3762;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;

}
nav ul ul ul{
  border-top: none;
}
nav ul li:hover > ul{
  top: 80px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  width: 150px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  
}
nav ul ul li a{
  line-height: 50px;
  font-size: 12px;
  z-index: 3;

}
nav ul ul ul li{
  position: relative;
  top: -60px;
  left: 150px;
}
.show,.icon,input{
  display: none;
}
.fa-plus{
  font-size: 15px;
  margin-left: 40px;
}

@media screen and (max-width:764px) {
  nav ul li a{
    color:#3C3762;
    line-height: 70px;
  }

}

@media all and (max-width: 975px) {

  nav ul{
    z-index: 5;

    margin-right: 0px;
    float: left;
  }
  nav .logo{
    padding-left: 30px;
    width: 100%;
  }
  .show + a, nav ul{
    display: none;
  }
  nav ul li,nav ul ul li{
    display: block;
    z-index: 5;
    width: 100%;
  }
  nav ul li a:hover{
    box-shadow: none;
  }
  .show{
    display: block;
    color: black;
    font-size: 1rem;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
    
  }
  .show:hover{
    color: gray;
  }
  .show a {
    padding-left: -10px;
  }
  .icon{
    display: block;
    color: black;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav {
    z-index: 5;
  }
  nav ul ul{
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    z-index: 5;
  }
  nav ul ul a{
    padding-left: 40px;
    z-index: 5;
  }
  nav ul ul ul a{
    padding-left: 80px;
    z-index: 5;

  }
  
  nav ul ul ul li{
    position: static;
    z-index: 5;

  }
  [id^=btn]:checked + ul{
    display: block;
    z-index: 3;

  }
  [id^=btn]:checked + nav {
    z-index: 5;
  }
  
 
 
  nav ul ul li{
    border-bottom: 0px;
  }
  span.cancel:before{
    content: '\f00d';
  }
  .tile p {
    z-index: 0;
    
  }
  .show img {
    width: 20px;
    vertical-align: -5px;
  }
}

header{
  font-size: 35px;
  font-weight: 600;
  padding: 10px 0;
}
p{
  font-size: 30px;
  font-weight: 500;
}

.test{
  color:red;
  font-size: 20px;
}
.banner {
  position: relative;
  padding-left: 30px;
  top:20px;
}
.blackLetter {
  color: black;
}

.choices li a {
  font-size: 12px;

}
.logo p{
    font-size: 25px;
    font-weight: bold;
}
.Login {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: #F77804;
    color: white;
}
.Login:hover {
    transition: background-color 0.6s ease;
    background-color: #ffa653;
}
.logo img {
    width: 43px;
    vertical-align: -15px;
    
}
.text {
    position: relative;
    bottom: -2px;
}

/*
BANNER ------------------------------------
*/

.background-image{
    position: relative;
    left: 0;
    right: 0;
    background-image: url('/img/Front 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    filter: brightness(50%);
    z-index: 0;
  }
  #wrapper {
    z-index: 5;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F6F3F3
    ;
  }
  .inner {
    z-index: 1;
    flex:column;
    text-align:center;  
  }
 
  .contact { 

    padding: 10px 40px; 
    text-align: center; 
    color: white; 
    background-color: #F77804; 
    cursor: pointer; 
    border-radius: 5px; 
    border:none; 
    margin-top: -30px
}


    .inner p {
        color: white;
        z-index: 2;
        padding-bottom: 40px;

    }


    /*
3 boxes------------------------------------
*/

.boxes {
    color : #3C3762;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F6F3F3
    ;



}
.boxes ul {
    list-style-type: none;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 50px;
    display: flex;
    padding: 20px 0px;
    margin-top: -70px;

}
.boxes ul li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    padding-top: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
    width:300px;
    

    
    
}

.boxes h1 {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 10px;
}

.boxes p {
    font-weight: lighter;
    font-size: 13px;
    font-family: "Varela Round";
    padding-bottom: 20px;
}
.box1 {border-bottom: 2px solid #F77804;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}
.box2{border-bottom: 2px solid #3C3762;
}
.box3{border-bottom: 2px solid mediumturquoise;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
  

@media screen and (max-width:  886px) {
    .boxes {
         padding-top: 20px;
    }
    .boxes ul {
        list-style-type: none;
        text-decoration: none;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        bottom: 50px;
        padding: 20px 0px;
        display: block;
    }
    .boxes ul li {
        padding-left: 20px;
        padding-right: 20px;
        background-color: #ffffff;
        padding-top: 20px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, .1);
        width:100%
        
        
    }
    

    .box1 {border-bottom: 2px solid #F77804;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }
    .box2{border-bottom: 2px solid #3C3762;
    }
    .box3{border-bottom: 2px solid mediumturquoise;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
    }

    .boxes h1 {
        font-weight: bold;
        font-size: 15px;
        padding-bottom: 10px;
    }
    
    .boxes p {
        font-weight: lighter;
        font-size: 11px;
        font-family: "Varela Round";
        padding-bottom: 20px;
    }
    
}
    /*
Services------------------------------------
*/


.services {
  margin-top: -100px;
  background-image: url(/img/Middle\ Front\ \ \(1\)-min.png);
  background-attachment: scroll;
  background-position: top;
  background-position-x: -20px;
  background-position-y:-50px;
  background-size: 1300px;
  background-repeat: no-repeat;
  background-color: #F6F3F3;
  display: flex;
  flex-wrap: wrap;
  padding-bottom:150px;
}
.left-Text {
  width: 50%;
  float: left;
  position: relative;
  top: 250px;
  left: 300px;
  max-width: 250px;
}

.left-Text p {
  font-size: 15px;
}
.title {
  font-weight: bold;
}
.right-text{
  width: 50%;
  float: left;

}
  
.itemTitle {
  font-size: 25px;
}
.desc {
  font-size: 15px;
}

.grid1 li {
  max-width: 250px;


}




  @media screen and (max-width:600px) {

    .services{
      background-image: none;
      background-position-x: -200px;

    }
  }

.double-pics {

  width: 100%;
}
.double-pics ul li {
  display: inline-block;
}